//.mg-left {
//    margin-left: 15px;
//}
//
//.mg_top {
//    margin-top: 100px;
//}
//
//.mg-top-0 {
//    margin-top: 0px;
//}
//
//.full-width {
//    width: 100%;
//}
//
//.bg-img-profile {
//    height: 350px;
//    width: 100%;
//}
//
//.image_container {
//    position: relative;
//}
//.circular_image {
//    position: absolute;
//    bottom: -85px; /* Adjust this value to change the distance between the circular image and the main image */
//    left: 95px;
//    transform: translateX(-50%);
//    border-radius: 40%;
//    width: 200px; /* Adjust this value to change the size of the circular image */
//    height: 200px; /* Adjust this value to change the size of the circular image */
//}
//
//.profile_all {
//    margin-top: 250px;
//}
//
//.username {
//    padding-left: 0px;
//    margin-left: 0px;
//    margin-top: 0px;
//    font-size: 50px;
//}
//


.mg_left {
    margin-left: 200px;
}

.mg_small_left{
    margin-left: 15px;
}

.mg_top {
    margin-top: 100px;
}

.mg_top_0 {
    margin-top: 0px;
}

.full_width {
    width: 100%;
}

.bg_img_profile {
    height: 350px;
    width: 100%;
}

.image_container {
    position: relative;
}
.circular_image {
    position: absolute;
    bottom: -85px; /* Adjust this value to change the distance between the circular image and the main image */
    left: 95px;
    transform: translateX(-50%);
    border-radius: 40%;
    width: 200px; /* Adjust this value to change the size of the circular image */
    height: 200px; /* Adjust this value to change the size of the circular image */
}

.profile_container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
}

.rest_container {
    margin-top: 100px;
}
